PCPickerDesktop/xml-resources/web-service-references/pcpicker_webservice/wsdl/192.168.119.185_8080/pcpicker_webserver/pcpicker_webservice.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><xs:schema xmlns:tns="http://pcpicker/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://pcpicker/">

<xs:element name="addCPU" type="tns:addCPU"/>

<xs:element name="addGPU" type="tns:addGPU"/>

<xs:element name="addMemory" type="tns:addMemory"/>

<xs:element name="addPowerSupply" type="tns:addPowerSupply"/>

<xs:element name="getBranchesList" type="tns:getBranchesList"/>

<xs:element name="getBranchesListResponse" type="tns:getBranchesListResponse"/>

<xs:element name="getCoolerList" type="tns:getCoolerList"/>

<xs:element name="getCoolerListResponse" type="tns:getCoolerListResponse"/>

<xs:element name="getCustomerList" type="tns:getCustomerList"/>

<xs:element name="getCustomerListResponse" type="tns:getCustomerListResponse"/>

<xs:element name="getDeliveryList" type="tns:getDeliveryList"/>

<xs:element name="getDeliveryListResponse" type="tns:getDeliveryListResponse"/>

<xs:element name="getGraphicsCardList" type="tns:getGraphicsCardList"/>

<xs:element name="getGraphicsCardListResponse" type="tns:getGraphicsCardListResponse"/>

<xs:element name="getImageList" type="tns:getImageList"/>

<xs:element name="getImageListResponse" type="tns:getImageListResponse"/>

<xs:element name="getInventoryList" type="tns:getInventoryList"/>

<xs:element name="getInventoryListResponse" type="tns:getInventoryListResponse"/>

<xs:element name="getKeyboardList" type="tns:getKeyboardList"/>

<xs:element name="getKeyboardListResponse" type="tns:getKeyboardListResponse"/>

<xs:element name="getManufacturers" type="tns:getManufacturers"/>

<xs:element name="getManufacturersResponse" type="tns:getManufacturersResponse"/>

<xs:element name="getMemoryList" type="tns:getMemoryList"/>

<xs:element name="getMemoryListResponse" type="tns:getMemoryListResponse"/>

<xs:element name="getMonitorList" type="tns:getMonitorList"/>

<xs:element name="getMonitorListResponse" type="tns:getMonitorListResponse"/>

<xs:element name="getMotherboardList" type="tns:getMotherboardList"/>

<xs:element name="getMotherboardListResponse" type="tns:getMotherboardListResponse"/>

<xs:element name="getMouseList" type="tns:getMouseList"/>

<xs:element name="getMouseListResponse" type="tns:getMouseListResponse"/>

<xs:element name="getOrderList" type="tns:getOrderList"/>

<xs:element name="getOrderListResponse" type="tns:getOrderListResponse"/>

<xs:element name="getOrder_componentList" type="tns:getOrder_componentList"/>

<xs:element name="getOrder_componentListResponse" type="tns:getOrder_componentListResponse"/>

<xs:element name="getPowerSupplyList" type="tns:getPowerSupplyList"/>

<xs:element name="getPowerSupplyListResponse" type="tns:getPowerSupplyListResponse"/>

<xs:element name="getProcessorList" type="tns:getProcessorList"/>

<xs:element name="getProcessorListResponse" type="tns:getProcessorListResponse"/>

<xs:element name="getStorageList" type="tns:getStorageList"/>

<xs:element name="getStorageListResponse" type="tns:getStorageListResponse"/>

<xs:complexType name="getInventoryList">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="getInventoryListResponse">
<xs:sequence>
<xs:element name="return" type="tns:Inventory" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="Inventory">
<xs:sequence>
<xs:element name="comp_id" type="xs:int"/>
<xs:element name="date_acquired" type="xs:string" minOccurs="0"/>
<xs:element name="branch_id" type="xs:int"/>
<xs:element name="quantity" type="xs:int"/>
<xs:element name="comp_name" type="xs:string" minOccurs="0"/>
<xs:element name="comp_price" type="xs:double"/>
<xs:element name="comp_manufacturer" type="xs:string" minOccurs="0"/>
<xs:element name="comp_type" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getCustomerList">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="getCustomerListResponse">
<xs:sequence>
<xs:element name="return" type="tns:Customer" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="Customer">
<xs:sequence>
<xs:element name="cust_id" type="xs:int"/>
<xs:element name="username" type="xs:string" minOccurs="0"/>
<xs:element name="password" type="xs:string" minOccurs="0"/>
<xs:element name="address" type="xs:string" minOccurs="0"/>
<xs:element name="city" type="xs:string" minOccurs="0"/>
<xs:element name="zip_code" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getManufacturers">
<xs:sequence>
<xs:element name="type" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getManufacturersResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getOrderList">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="getOrderListResponse">
<xs:sequence>
<xs:element name="return" type="tns:Order" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="Order">
<xs:sequence>
<xs:element name="order_id" type="xs:int"/>
<xs:element name="cust_id" type="xs:int"/>
<xs:element name="date_created" type="xs:string" minOccurs="0"/>
<xs:element name="payment_type" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getKeyboardList">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="getKeyboardListResponse">
<xs:sequence>
<xs:element name="return" type="tns:Keyboard" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="Keyboard">
<xs:sequence>
<xs:element name="backlit" type="xs:boolean"/>
<xs:element name="type_" type="xs:string" minOccurs="0"/>
<xs:element name="comp_id" type="xs:string" minOccurs="0"/>
<xs:element name="comp_manufacturer" type="xs:string" minOccurs="0"/>
<xs:element name="comp_name" type="xs:string" minOccurs="0"/>
<xs:element name="comp_price" type="xs:double"/>
<xs:element name="comp_type" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="addMemory">
<xs:sequence>
<xs:element name="comp_id" type="xs:string" minOccurs="0"/>
<xs:element name="comp_manufacturer" type="xs:string" minOccurs="0"/>
<xs:element name="comp_name" type="xs:string" minOccurs="0"/>
<xs:element name="mem_capacity" type="xs:int"/>
<xs:element name="mem_ddr" type="xs:string" minOccurs="0"/>
<xs:element name="mem_clock" type="xs:int"/>
<xs:element name="comp_price" type="xs:double"/>
<xs:element name="comp_type" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getMotherboardList">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="getMotherboardListResponse">
<xs:sequence>
<xs:element name="return" type="tns:Motherboard" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="Motherboard">
<xs:sequence>
<xs:element name="socket" type="xs:string" minOccurs="0"/>
<xs:element name="mem_slots" type="xs:int"/>
<xs:element name="form_factor" type="xs:string" minOccurs="0"/>
<xs:element name="comp_id" type="xs:string" minOccurs="0"/>
<xs:element name="comp_manufacturer" type="xs:string" minOccurs="0"/>
<xs:element name="comp_name" type="xs:string" minOccurs="0"/>
<xs:element name="comp_price" type="xs:double"/>
<xs:element name="comp_type" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getMemoryList">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="getMemoryListResponse">
<xs:sequence>
<xs:element name="return" type="tns:Memory" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="Memory">
<xs:sequence>
<xs:element name="comp_id" type="xs:string" minOccurs="0"/>
<xs:element name="comp_manufacturer" type="xs:string" minOccurs="0"/>
<xs:element name="comp_name" type="xs:string" minOccurs="0"/>
<xs:element name="comp_price" type="xs:double"/>
<xs:element name="comp_type" type="xs:string" minOccurs="0"/>
<xs:element name="mem_capacity" type="xs:int"/>
<xs:element name="mem_ddr" type="xs:string" minOccurs="0"/>
<xs:element name="mem_clock" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getMonitorList">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="getMonitorListResponse">
<xs:sequence>
<xs:element name="return" type="tns:Monitor" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="Monitor">
<xs:sequence>
<xs:element name="aspect_ratio" type="xs:string" minOccurs="0"/>
<xs:element name="screen_size" type="xs:int"/>
<xs:element name="max_resolution" type="xs:string" minOccurs="0"/>
<xs:element name="refresh_rate" type="xs:int"/>
<xs:element name="comp_id" type="xs:string" minOccurs="0"/>
<xs:element name="comp_manufacturer" type="xs:string" minOccurs="0"/>
<xs:element name="comp_name" type="xs:string" minOccurs="0"/>
<xs:element name="comp_price" type="xs:double"/>
<xs:element name="comp_type" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getStorageList">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="getStorageListResponse">
<xs:sequence>
<xs:element name="return" type="tns:Storage" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="Storage">
<xs:sequence>
<xs:element name="type_" type="xs:string" minOccurs="0"/>
<xs:element name="capacity" type="xs:int"/>
<xs:element name="interface" type="xs:string" minOccurs="0"/>
<xs:element name="comp_id" type="xs:string" minOccurs="0"/>
<xs:element name="comp_manufacturer" type="xs:string" minOccurs="0"/>
<xs:element name="comp_name" type="xs:string" minOccurs="0"/>
<xs:element name="comp_price" type="xs:double"/>
<xs:element name="comp_type" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getProcessorList">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="getProcessorListResponse">
<xs:sequence>
<xs:element name="return" type="tns:Processor" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="Processor">
<xs:sequence>
<xs:element name="comp_id" type="xs:string" minOccurs="0"/>
<xs:element name="comp_manufacturer" type="xs:string" minOccurs="0"/>
<xs:element name="comp_name" type="xs:string" minOccurs="0"/>
<xs:element name="core_clock" type="xs:string" minOccurs="0"/>
<xs:element name="core_num" type="xs:int"/>
<xs:element name="thread_num" type="xs:int"/>
<xs:element name="socket_" type="xs:string" minOccurs="0"/>
<xs:element name="tdp" type="xs:int"/>
<xs:element name="comp_price" type="xs:double"/>
<xs:element name="comp_type" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getDeliveryList">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="getDeliveryListResponse">
<xs:sequence>
<xs:element name="return" type="tns:Delivery" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="Delivery">
<xs:sequence>
<xs:element name="delivery_num" type="xs:int"/>
<xs:element name="order_id" type="xs:int"/>
<xs:element name="date_delivery" type="xs:string" minOccurs="0"/>
<xs:element name="accepted_by" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getGraphicsCardList">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="getGraphicsCardListResponse">
<xs:sequence>
<xs:element name="return" type="tns:GraphicsCard" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="GraphicsCard">
<xs:sequence>
<xs:element name="comp_id" type="xs:string" minOccurs="0"/>
<xs:element name="comp_manufacturer" type="xs:string" minOccurs="0"/>
<xs:element name="comp_name" type="xs:string" minOccurs="0"/>
<xs:element name="comp_price" type="xs:double"/>
<xs:element name="comp_type" type="xs:string" minOccurs="0"/>
<xs:element name="core_clock" type="xs:int"/>
<xs:element name="mem_ddr" type="xs:string" minOccurs="0"/>
<xs:element name="mem_capacity" type="xs:string" minOccurs="0"/>
<xs:element name="mem_clock" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="addGPU">
<xs:sequence>
<xs:element name="comp_id" type="xs:string" minOccurs="0"/>
<xs:element name="comp_manufacturer" type="xs:string" minOccurs="0"/>
<xs:element name="comp_name" type="xs:string" minOccurs="0"/>
<xs:element name="core_clock" type="xs:int"/>
<xs:element name="mem_ddr" type="xs:string" minOccurs="0"/>
<xs:element name="mem_capacity" type="xs:string" minOccurs="0"/>
<xs:element name="mem_clock" type="xs:int"/>
<xs:element name="comp_price" type="xs:double"/>
<xs:element name="comp_type" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getPowerSupplyList">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="getPowerSupplyListResponse">
<xs:sequence>
<xs:element name="return" type="tns:PowerSupply" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="PowerSupply">
<xs:sequence>
<xs:element name="comp_id" type="xs:string" minOccurs="0"/>
<xs:element name="comp_manufacturer" type="xs:string" minOccurs="0"/>
<xs:element name="comp_name" type="xs:string" minOccurs="0"/>
<xs:element name="comp_price" type="xs:double"/>
<xs:element name="comp_type" type="xs:string" minOccurs="0"/>
<xs:element name="wattage" type="xs:int"/>
<xs:element name="rating" type="xs:string" minOccurs="0"/>
<xs:element name="form_factor" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getCoolerList">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="getCoolerListResponse">
<xs:sequence>
<xs:element name="return" type="tns:Cooler" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="Cooler">
<xs:sequence>
<xs:element name="liquid_cooling" type="xs:boolean"/>
<xs:element name="rated_tdp" type="xs:int"/>
<xs:element name="supported_sockets" type="xs:string" minOccurs="0"/>
<xs:element name="comp_id" type="xs:string" minOccurs="0"/>
<xs:element name="comp_manufacturer" type="xs:string" minOccurs="0"/>
<xs:element name="comp_name" type="xs:string" minOccurs="0"/>
<xs:element name="comp_price" type="xs:double"/>
<xs:element name="comp_type" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getMouseList">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="getMouseListResponse">
<xs:sequence>
<xs:element name="return" type="tns:Mouse" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="Mouse">
<xs:sequence>
<xs:element name="dpi" type="xs:int"/>
<xs:element name="connection_" type="xs:string" minOccurs="0"/>
<xs:element name="comp_id" type="xs:string" minOccurs="0"/>
<xs:element name="comp_manufacturer" type="xs:string" minOccurs="0"/>
<xs:element name="comp_name" type="xs:string" minOccurs="0"/>
<xs:element name="comp_price" type="xs:double"/>
<xs:element name="comp_type" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getBranchesList">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="getBranchesListResponse">
<xs:sequence>
<xs:element name="return" type="tns:Branch" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="Branch">
<xs:sequence>
<xs:element name="branch_id" type="xs:int"/>
<xs:element name="city" type="xs:string" minOccurs="0"/>
<xs:element name="address" type="xs:string" minOccurs="0"/>
<xs:element name="zip_code" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getImageList">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="getImageListResponse">
<xs:sequence>
<xs:element name="return" type="tns:Image" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="Image">
<xs:sequence>
<xs:element name="comp_id" type="xs:string" minOccurs="0"/>
<xs:element name="imageclass" type="xs:string" minOccurs="0"/>
<xs:element name="imagepath" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="addPowerSupply">
<xs:sequence>
<xs:element name="comp_id" type="xs:string" minOccurs="0"/>
<xs:element name="comp_manufacturer" type="xs:string" minOccurs="0"/>
<xs:element name="comp_name" type="xs:string" minOccurs="0"/>
<xs:element name="wattage" type="xs:int"/>
<xs:element name="rating" type="xs:string" minOccurs="0"/>
<xs:element name="form_factor" type="xs:string" minOccurs="0"/>
<xs:element name="comp_price" type="xs:double"/>
<xs:element name="comp_type" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="addCPU">
<xs:sequence>
<xs:element name="comp_id" type="xs:string" minOccurs="0"/>
<xs:element name="comp_manufacturer" type="xs:string" minOccurs="0"/>
<xs:element name="comp_name" type="xs:string" minOccurs="0"/>
<xs:element name="core_clock" type="xs:int"/>
<xs:element name="core_num" type="xs:int"/>
<xs:element name="thread_num" type="xs:int"/>
<xs:element name="socket_" type="xs:string" minOccurs="0"/>
<xs:element name="tdp" type="xs:int"/>
<xs:element name="comp_price" type="xs:double"/>
<xs:element name="comp_type" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getOrder_componentList">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="getOrder_componentListResponse">
<xs:sequence>
<xs:element name="return" type="tns:Order_component" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="Order_component">
<xs:sequence>
<xs:element name="order_id" type="xs:int"/>
<xs:element name="comp_id" type="xs:string" minOccurs="0"/>
<xs:element name="quantity" type="xs:int"/>
</xs:sequence>
</xs:complexType>
</xs:schema>