PCPickerDesktop/src/META-INF/wsdl/192.168.119.185_8080/pcpicker_webserver/pcpicker_webservice.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://pcpicker/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://pcpicker/" name="pcpicker_webservice">
<types>
<xsd:schema>
<xsd:import namespace="http://pcpicker/" schemaLocation="http://192.168.119.185:8080/pcpicker_webserver/pcpicker_webservice?xsd=1"/>
</xsd:schema>
</types>
<message name="getGraphicsCardList">
<part name="parameters" element="tns:getGraphicsCardList"/>
</message>
<message name="getGraphicsCardListResponse">
<part name="parameters" element="tns:getGraphicsCardListResponse"/>
</message>
<message name="getMotherboardList">
<part name="parameters" element="tns:getMotherboardList"/>
</message>
<message name="getMotherboardListResponse">
<part name="parameters" element="tns:getMotherboardListResponse"/>
</message>
<message name="getPowerSupplyList">
<part name="parameters" element="tns:getPowerSupplyList"/>
</message>
<message name="getPowerSupplyListResponse">
<part name="parameters" element="tns:getPowerSupplyListResponse"/>
</message>
<message name="getOrder_componentList">
<part name="parameters" element="tns:getOrder_componentList"/>
</message>
<message name="getOrder_componentListResponse">
<part name="parameters" element="tns:getOrder_componentListResponse"/>
</message>
<message name="getManufacturers">
<part name="parameters" element="tns:getManufacturers"/>
</message>
<message name="getManufacturersResponse">
<part name="parameters" element="tns:getManufacturersResponse"/>
</message>
<message name="addPowerSupply">
<part name="parameters" element="tns:addPowerSupply"/>
</message>
<message name="addMemory">
<part name="parameters" element="tns:addMemory"/>
</message>
<message name="addCPU">
<part name="parameters" element="tns:addCPU"/>
</message>
<message name="getProcessorList">
<part name="parameters" element="tns:getProcessorList"/>
</message>
<message name="getProcessorListResponse">
<part name="parameters" element="tns:getProcessorListResponse"/>
</message>
<message name="getCoolerList">
<part name="parameters" element="tns:getCoolerList"/>
</message>
<message name="getCoolerListResponse">
<part name="parameters" element="tns:getCoolerListResponse"/>
</message>
<message name="getKeyboardList">
<part name="parameters" element="tns:getKeyboardList"/>
</message>
<message name="getKeyboardListResponse">
<part name="parameters" element="tns:getKeyboardListResponse"/>
</message>
<message name="getMemoryList">
<part name="parameters" element="tns:getMemoryList"/>
</message>
<message name="getMemoryListResponse">
<part name="parameters" element="tns:getMemoryListResponse"/>
</message>
<message name="getMonitorList">
<part name="parameters" element="tns:getMonitorList"/>
</message>
<message name="getMonitorListResponse">
<part name="parameters" element="tns:getMonitorListResponse"/>
</message>
<message name="getMouseList">
<part name="parameters" element="tns:getMouseList"/>
</message>
<message name="getMouseListResponse">
<part name="parameters" element="tns:getMouseListResponse"/>
</message>
<message name="getStorageList">
<part name="parameters" element="tns:getStorageList"/>
</message>
<message name="getStorageListResponse">
<part name="parameters" element="tns:getStorageListResponse"/>
</message>
<message name="getBranchesList">
<part name="parameters" element="tns:getBranchesList"/>
</message>
<message name="getBranchesListResponse">
<part name="parameters" element="tns:getBranchesListResponse"/>
</message>
<message name="getInventoryList">
<part name="parameters" element="tns:getInventoryList"/>
</message>
<message name="getInventoryListResponse">
<part name="parameters" element="tns:getInventoryListResponse"/>
</message>
<message name="getCustomerList">
<part name="parameters" element="tns:getCustomerList"/>
</message>
<message name="getCustomerListResponse">
<part name="parameters" element="tns:getCustomerListResponse"/>
</message>
<message name="getOrderList">
<part name="parameters" element="tns:getOrderList"/>
</message>
<message name="getOrderListResponse">
<part name="parameters" element="tns:getOrderListResponse"/>
</message>
<message name="getDeliveryList">
<part name="parameters" element="tns:getDeliveryList"/>
</message>
<message name="getDeliveryListResponse">
<part name="parameters" element="tns:getDeliveryListResponse"/>
</message>
<message name="getImageList">
<part name="parameters" element="tns:getImageList"/>
</message>
<message name="getImageListResponse">
<part name="parameters" element="tns:getImageListResponse"/>
</message>
<message name="addGPU">
<part name="parameters" element="tns:addGPU"/>
</message>
<portType name="Pcpicker_webservice">
<operation name="getGraphicsCardList">
<input wsam:Action="http://pcpicker/Pcpicker_webservice/getGraphicsCardListRequest" message="tns:getGraphicsCardList"/>
<output wsam:Action="http://pcpicker/Pcpicker_webservice/getGraphicsCardListResponse" message="tns:getGraphicsCardListResponse"/>
</operation>
<operation name="getMotherboardList">
<input wsam:Action="http://pcpicker/Pcpicker_webservice/getMotherboardListRequest" message="tns:getMotherboardList"/>
<output wsam:Action="http://pcpicker/Pcpicker_webservice/getMotherboardListResponse" message="tns:getMotherboardListResponse"/>
</operation>
<operation name="getPowerSupplyList">
<input wsam:Action="http://pcpicker/Pcpicker_webservice/getPowerSupplyListRequest" message="tns:getPowerSupplyList"/>
<output wsam:Action="http://pcpicker/Pcpicker_webservice/getPowerSupplyListResponse" message="tns:getPowerSupplyListResponse"/>
</operation>
<operation name="getOrder_componentList">
<input wsam:Action="http://pcpicker/Pcpicker_webservice/getOrder_componentListRequest" message="tns:getOrder_componentList"/>
<output wsam:Action="http://pcpicker/Pcpicker_webservice/getOrder_componentListResponse" message="tns:getOrder_componentListResponse"/>
</operation>
<operation name="getManufacturers">
<input wsam:Action="http://pcpicker/Pcpicker_webservice/getManufacturersRequest" message="tns:getManufacturers"/>
<output wsam:Action="http://pcpicker/Pcpicker_webservice/getManufacturersResponse" message="tns:getManufacturersResponse"/>
</operation>
<operation name="addPowerSupply">
<input wsam:Action="http://pcpicker/Pcpicker_webservice/addPowerSupply" message="tns:addPowerSupply"/>
</operation>
<operation name="addMemory">
<input wsam:Action="http://pcpicker/Pcpicker_webservice/addMemory" message="tns:addMemory"/>
</operation>
<operation name="addCPU">
<input wsam:Action="http://pcpicker/Pcpicker_webservice/addCPU" message="tns:addCPU"/>
</operation>
<operation name="getProcessorList">
<input wsam:Action="http://pcpicker/Pcpicker_webservice/getProcessorListRequest" message="tns:getProcessorList"/>
<output wsam:Action="http://pcpicker/Pcpicker_webservice/getProcessorListResponse" message="tns:getProcessorListResponse"/>
</operation>
<operation name="getCoolerList">
<input wsam:Action="http://pcpicker/Pcpicker_webservice/getCoolerListRequest" message="tns:getCoolerList"/>
<output wsam:Action="http://pcpicker/Pcpicker_webservice/getCoolerListResponse" message="tns:getCoolerListResponse"/>
</operation>
<operation name="getKeyboardList">
<input wsam:Action="http://pcpicker/Pcpicker_webservice/getKeyboardListRequest" message="tns:getKeyboardList"/>
<output wsam:Action="http://pcpicker/Pcpicker_webservice/getKeyboardListResponse" message="tns:getKeyboardListResponse"/>
</operation>
<operation name="getMemoryList">
<input wsam:Action="http://pcpicker/Pcpicker_webservice/getMemoryListRequest" message="tns:getMemoryList"/>
<output wsam:Action="http://pcpicker/Pcpicker_webservice/getMemoryListResponse" message="tns:getMemoryListResponse"/>
</operation>
<operation name="getMonitorList">
<input wsam:Action="http://pcpicker/Pcpicker_webservice/getMonitorListRequest" message="tns:getMonitorList"/>
<output wsam:Action="http://pcpicker/Pcpicker_webservice/getMonitorListResponse" message="tns:getMonitorListResponse"/>
</operation>
<operation name="getMouseList">
<input wsam:Action="http://pcpicker/Pcpicker_webservice/getMouseListRequest" message="tns:getMouseList"/>
<output wsam:Action="http://pcpicker/Pcpicker_webservice/getMouseListResponse" message="tns:getMouseListResponse"/>
</operation>
<operation name="getStorageList">
<input wsam:Action="http://pcpicker/Pcpicker_webservice/getStorageListRequest" message="tns:getStorageList"/>
<output wsam:Action="http://pcpicker/Pcpicker_webservice/getStorageListResponse" message="tns:getStorageListResponse"/>
</operation>
<operation name="getBranchesList">
<input wsam:Action="http://pcpicker/Pcpicker_webservice/getBranchesListRequest" message="tns:getBranchesList"/>
<output wsam:Action="http://pcpicker/Pcpicker_webservice/getBranchesListResponse" message="tns:getBranchesListResponse"/>
</operation>
<operation name="getInventoryList">
<input wsam:Action="http://pcpicker/Pcpicker_webservice/getInventoryListRequest" message="tns:getInventoryList"/>
<output wsam:Action="http://pcpicker/Pcpicker_webservice/getInventoryListResponse" message="tns:getInventoryListResponse"/>
</operation>
<operation name="getCustomerList">
<input wsam:Action="http://pcpicker/Pcpicker_webservice/getCustomerListRequest" message="tns:getCustomerList"/>
<output wsam:Action="http://pcpicker/Pcpicker_webservice/getCustomerListResponse" message="tns:getCustomerListResponse"/>
</operation>
<operation name="getOrderList">
<input wsam:Action="http://pcpicker/Pcpicker_webservice/getOrderListRequest" message="tns:getOrderList"/>
<output wsam:Action="http://pcpicker/Pcpicker_webservice/getOrderListResponse" message="tns:getOrderListResponse"/>
</operation>
<operation name="getDeliveryList">
<input wsam:Action="http://pcpicker/Pcpicker_webservice/getDeliveryListRequest" message="tns:getDeliveryList"/>
<output wsam:Action="http://pcpicker/Pcpicker_webservice/getDeliveryListResponse" message="tns:getDeliveryListResponse"/>
</operation>
<operation name="getImageList">
<input wsam:Action="http://pcpicker/Pcpicker_webservice/getImageListRequest" message="tns:getImageList"/>
<output wsam:Action="http://pcpicker/Pcpicker_webservice/getImageListResponse" message="tns:getImageListResponse"/>
</operation>
<operation name="addGPU">
<input wsam:Action="http://pcpicker/Pcpicker_webservice/addGPU" message="tns:addGPU"/>
</operation>
</portType>
<binding name="Pcpicker_webservicePortBinding" type="tns:Pcpicker_webservice">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="getGraphicsCardList">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getMotherboardList">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getPowerSupplyList">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getOrder_componentList">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getManufacturers">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="addPowerSupply">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
</operation>
<operation name="addMemory">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
</operation>
<operation name="addCPU">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
</operation>
<operation name="getProcessorList">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getCoolerList">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getKeyboardList">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getMemoryList">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getMonitorList">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getMouseList">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getStorageList">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getBranchesList">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getInventoryList">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getCustomerList">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getOrderList">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getDeliveryList">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getImageList">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="addGPU">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
</operation>
</binding>
<service name="pcpicker_webservice">
<port name="Pcpicker_webservicePort" binding="tns:Pcpicker_webservicePortBinding">
<soap:address location="http://192.168.119.185:8080/pcpicker_webserver/pcpicker_webservice"/>
</port>
</service>
</definitions>